.item-card-container {
  box-sizing: border-box;

  position: relative;
  left: 2%;
}
.cards-scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: fit-content;
  height: 43vh;
  width: 300px;
}
.cards-scroll::-webkit-scrollbar {
  left: 10px;
  width: 6px;
}
.cards-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  visibility: hidden;
  border-radius: 10px;
}
.cards-scroll::-webkit-scrollbar-thumb {
  background: #41cb83;
  border-radius: 3px;
}

.card-send {
  position: absolute;
}

.card-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 43px;
}
.card-button-1 {
  position: relative;
  width: 300px;
  height: 45px;
  background: #41cb83;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}
.card-button-1-text {
  position: relative;
  bottom: 5px;

  font-family: "Izmir";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  color: #ffffff;
}
.card-button-2 {
  position: relative;
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #41cb83;
  border-radius: 10px;
  background-color: inherit;
  cursor: pointer;
}
.card-button-2-text {
  position: relative;
  bottom: 5px;

  font-family: "Izmir";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;

  color: #41cb83;
}
.no-content-container {
  position: absolute;
  border: 2px solid;
  top: 22%;
  height: 242px;
  width: 300px;
}
.no-content-text {
  position: absolute;
  height: 48px;
  top: 32%;
  width: 130px;
  left: 28%;
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #9da8c2;
  opacity: 0.3;
}
@media screen and (max-width: 600px) {
  .item-card-container {
    top: 120px;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cards-scroll {
    position: relative;
  }
  .card-send {
    position: relative;
    bottom: 0;
  }
  .cards-scroll {
    height: 50vh;
  }
  .no-content-container {
    display: flex;
  }
  .no-content-text {
    left: 28%;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .item-card-container {
    top: 120px;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card-send {
    position: relative;
  }
  .cards-scroll {
    height: 50vh;
  }
  .no-content-container {
    display: flex;
  }
  .no-content-text {
    left: 28%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1024px) {
  .item-card-container {
    display: flex;
    position: relative;
    width: fit-content;
    justify-content: flex-start;
    flex-direction: column;
  }
  .card-send {
    position: relative;
  }

  .no-content-container {
    width: 250px;
  }
}
