.logo {
  padding: 1% 91px 1% 91px;
}
.button-logo {
  color: #41cb83;
  font-family: "Inter";
  font-weight: 900;
  font-size: 64px;
  font-style: normal;
  border: none;
  outline: none;
  cursor: pointer;
  background: inherit;
}
@media screen and (max-width: 600px) {
  .logo {
    padding: 0;
  }
  .button-logo {
    font-weight: 900;
    font-size: 12px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .logo {
    padding: 0 0 0 20px;
  }
  .button-logo {
    font-weight: 900;
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1670px) {
  .logo {
    padding: 1% 0 1% 10px;
  }
  .button-logo {
    font-weight: 900;
    font-size: 34px;
  }
}
